<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.8"/>
      <httpRuntime targetFramework="4.8"/>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMultipleService" />
                <binding name="BasicHttpBinding_IMultipleService1" />
                <binding name="BasicHttpBinding_IMultipleService2" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMultipleService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="MetadataExchangeTcpBinding_IMultipleService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMultipleService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMultipleService2" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11987/MyMultipleServiceHost.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultipleService"
                contract="MultipleServiceReference.IMultipleService" name="BasicHttpBinding_IMultipleService" />
            <endpoint address="net.tcp://localhost:9090/MyTcpEndPoint" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultipleService" contract="MyService.IMultipleService"
                name="NetTcpBinding_IMultipleService">
                <identity>
                    <userPrincipalName value="SEC-PC\SEC" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9090/MyTcpEndPoint/mex"
                binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_IMultipleService"
                contract="MyService.IMultipleService" name="MetadataExchangeTcpBinding_IMultipleService" />
            <endpoint address="net.tcp://localhost:50011/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultipleService1" contract="MyService.IMultipleService"
                name="NetTcpBinding_IMultipleService1">
                <identity>
                    <userPrincipalName value="SEC-PC\SEC" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50010/MyHttpEndPoint" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMultipleService1"
                contract="MyService.IMultipleService" name="BasicHttpBinding_IMultipleService1" />
            <endpoint address="net.tcp://localhost:9001/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultipleService2" contract="ServiceReference1.IMultipleService"
                name="NetTcpBinding_IMultipleService2">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-F99T4VP" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8110/WcfClientPage/MyServiceOnIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultipleService2"
                contract="ServiceReference2.IMultipleService" name="BasicHttpBinding_IMultipleService2" />
        </client>
    </system.serviceModel>
</configuration>
