<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
		To browse web app root directory during debugging, set the value below to true.
		Set to false before deployment to avoid disclosing web app folder information.
	  -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="MultipleWcfServiceLibrary.MultipleService" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint 
					address="http://localhost:11987/MyMultipleServiceHost.svc"
					binding="basicHttpBinding" bindingConfiguration="" 
					contract="MultipleWcfServiceLibrary.IMultipleService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
