<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICourses" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICourses">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:50001/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICourses" contract="ServiceReference1.ICourses"
                name="NetTcpBinding_ICourses">
                <identity>
                    <userPrincipalName value="SEC-PC\SEC" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50002/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICourses" contract="ServiceReference1.ICourses"
                name="BasicHttpBinding_ICourses" />
        </client>
    </system.serviceModel>
</configuration>