<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
	    <behaviors>
		    <serviceBehaviors>
			    <behavior name="MyBehavior">
				    <serviceMetadata/>
			    </behavior>
		    </serviceBehaviors>
	    </behaviors>
		<services>
            <service name="MultipleWcfServiceLibrary.MultipleService" behaviorConfiguration="MyBehavior">
                <endpoint address="net.tcp://localhost:9001/MyService" binding="netTcpBinding"
                    bindingConfiguration="" contract="MultipleWcfServiceLibrary.IMultipleService" />
	            <endpoint address="net.tcp://localhost:50001/MyTcpEndPoint/mex"
	                      binding="mexTcpBinding" bindingConfiguration=""
	                      contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>